.sign-in,
.sign-up {
	background-color: rgba(236, 236, 236, 0.212);
}

.sign-up > div,
.sign-in > div {
	box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.01);
}

.sign-in input:focus,
.sign-in input:hover,
.sign-up input:hover,
.sign-up input:focus {
	outline: none;
	border: 2px solid var(--color-indigo-300);
}

input:hover,
input:focus {
	outline: none;
	border: 2px solid var(--color-indigo-300);
}

.loader {
	width: 30px;
	aspect-ratio: 2;
	background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
	background-size: calc(100% / 3) 50%;
	animation: l3 1s infinite linear;
}

.loader-black {
	--_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
}

.loader-white {
	--_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
}

@keyframes l3 {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
}
.sign-in p.error,
.sign-up p.error {
	line-height: 0.8em;
	font-size: 11px;
	color: rgba(240, 129, 129, 0.904);
	margin: 8px 2px;
	margin-bottom: 0px;
	font-weight: 500;
}

@media (orientation: landscape) and (max-height: 600px) {
	.sign-up,
	.sign-in {
		margin-block: 8rem;
	}
}

@media (orientation: landscape) and (max-height: 450px) {
	.sign-up,
	.sign-in {
		margin-block: 12rem;
	}
}

.friends-h {
	color: rgb(11, 139, 224);
	height: 250px;
}

footer li:has(.active) {
	color: var(--color-indigo-500)
}

