.sign-in,
.sign-up {
	background-color: rgba(236, 236, 236, 0.212);
}

.sign-up > div,
.sign-in > div {
	box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.01);
}

.sign-in input:focus,
.sign-in input:hover,
.sign-up input:hover,
.sign-up input:focus {
	outline: none;
	border: 2px solid var(--color-indigo-300);
}

input:hover,
input:focus {
	outline: none;
	border: 2px solid var(--color-indigo-300);
}



.sign-in p.error,
.sign-up p.error {
	line-height: 0.8em;
	font-size: 11px;
	color: rgba(240, 129, 129, 0.904);
	margin: 8px 2px;
	margin-bottom: 0px;
	font-weight: 500;
}

@media (orientation: landscape) and (max-height: 600px) {
	.sign-up,
	.sign-in {
		margin-block: 8rem;
	}
}

@media (orientation: landscape) and (max-height: 450px) {
	.sign-up,
	.sign-in {
		margin-block: 12rem;
	}
}

.friends-h {
	color: rgb(11, 139, 224);
	height: 250px;
}

#root:has(.sign) footer{
	display: none;
}

footer li:has(.active) {
	color: var(--color-indigo-500)
}

