.sign-in,
.sign-up {
	background-color: rgba(236, 236, 236, 0.212);
}

.sign-up > div,
.sign-in > div {
	box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.01);
}

.sign-in input:focus,
.sign-in input:hover,
.sign-up input:hover,
.sign-up input:focus {
	outline: none;
	border: 2px solid var(--color-indigo-300);
}

input:hover,
input:focus {
	outline: none;
	border: 2px solid var(--color-indigo-300);
}

.sign-in p.error,
.sign-up p.error {
	line-height: 0.8em;
	font-size: 11px;
	color: rgba(240, 129, 129, 0.904);
	margin: 8px 2px;
	margin-bottom: 0px;
	font-weight: 500;
}

@media (orientation: landscape) and (max-height: 600px) {
	.sign-up,
	.sign-in {
		margin-block: 8rem;
	}
}

@media (orientation: landscape) and (max-height: 450px) {
	.sign-up,
	.sign-in {
		margin-block: 12rem;
	}
}

#root:has(.sign) footer {
	display: none;
}

footer li:has(.active) {
	color: var(--color-indigo-500);
}

.drop-down .options {
	opacity: 0;
	touch-action: none;
	pointer-events: none;
	user-select: none;
	transition: all 0.2s ease-in-out;
}

.drop-down:has(button:focus) .options {
	opacity: 1;
	touch-action: all;
	pointer-events: all;
	user-select: none;
}

.leaflet-control-attribution.leaflet-control {
	display: none !important;
}

.friends-selector > div {
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.friendExpanded > div {
	opacity: 1;
}

.avatar-marker {
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	transition: transform 0.2s ease;
}

/* Piscar para quem está online */
.avatar-marker.online {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
	}

	70% {
		box-shadow: 0 0 0 19px rgba(34, 197, 94, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
	}
}

.leaflet-control-container {
	display: none;
}

.location-control {
	height: 0px;
}

.friendExpanded .location-control {
	transition: height .3s .4s linear;
	height: 200px;
}