@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

* {
	box-sizing: border-box;
}

:root {
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: geometricPrecision;
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: white;
}

.sign-in input[type="checkbox"] {
	appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff00;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1em;
	height: 1em;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
}

.sign-in input[type="checkbox"]::before {
	display: block;
	content: "";
	width: 0.65em;
	height: 0.65em;
	transition: 220ms transform ease-in-out, 200ms background-color ease-in-out;
	transform: scale(0);
	box-shadow: inset 1em 1em var(--form-control-color);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform-origin: bottom left;
	background-color: var(--color-indigo-500);
}

.sign-in input[type="checkbox"]:checked::before {
	transform: scale(1);
	background-color: var(--color-indigo-500);
}

input[type="tel"] {
	border: none !important;
	border-left: 1px solid var(--color-gray-300) !important;
}

input[type="checkbox"].switch {
	background-color: rgba(0, 0, 0, 0.104);
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.171);
	appearance: none;
	width: 2.8em;
	min-height: 1.3em;
	padding: 5px;
	border-radius: 100px;
	transition: all ease-in-out .2s;
}

input[type="checkbox"].switch:checked {
	background-color: var(--color-indigo-500);
}

input[type="checkbox"].switch::before {
	display: block;
	content: "";
	position: absolute;
	height: 85%;
	aspect-ratio: 1/1;
	border-radius: 100px;
	background-color: white;
	top: 50%;
	left: 2px;
	translate: 0px -50%;
	transition: all ease-in-out .2s;
}

input[type="checkbox"].switch:checked::before {
	left: 79%;
	translate: -50% -50%;
}
