@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

* {
	box-sizing: border-box;
}

:root {
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: geometricPrecision;
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: white;
}

.sign-in input[type="checkbox"] {
	appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff00;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1em;
	height: 1em;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
}

.sign-in input[type="checkbox"]::before {
	display: block;
	content: "";
	width: 0.65em;
	height: 0.65em;
	transition: 220ms transform ease-in-out, 200ms background-color ease-in-out;
	transform: scale(0);
	box-shadow: inset 1em 1em var(--form-control-color);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform-origin: bottom left;
	background-color: var(--color-indigo-500);
}

.sign-in input[type="checkbox"]:checked::before {
	transform: scale(1);
	background-color: var(--color-indigo-500);
}

input[type="tel"] {
	border: none !important;
	border-left: 1px solid var(--color-gray-300) !important;
}

input[type="checkbox"].switch {
	background-color: rgba(0, 0, 0, 0.104);
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.171);
	appearance: none;
	width: 2.8em;
	min-height: 1.3em;
	padding: 5px;
	border-radius: 100px;
	transition: all ease-in-out 0.2s;
}

input[type="checkbox"].switch:checked {
	background-color: var(--color-indigo-500);
}

input[type="checkbox"].switch::before {
	display: block;
	content: "";
	position: absolute;
	height: 85%;
	aspect-ratio: 1/1;
	border-radius: 100px;
	background-color: white;
	top: 50%;
	left: 2px;
	translate: 0px -50%;
	transition: all ease-in-out 0.2s;
}

input[type="checkbox"].switch:checked::before {
	left: 79%;
	translate: -50% -50%;
}

.loader {
	width: 30px;
	aspect-ratio: 2;
	background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
	background-size: calc(100% / 3) 50%;
	animation: l3 1s infinite linear;
}

.loadere {
	aspect-ratio: 2;
	background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
	background-size: calc(100% / 3) 50%;
	animation: l3 1s infinite linear;
}

.loader-black {
	--_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
}

.loader-blue {
	--_g: no-repeat radial-gradient(circle closest-side, #006eff 90%, #0000);
}

.loader-white {
	--_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
}

@keyframes l3 {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.appear {
	animation: appear 0.6s ease-in-out;
}

.appear-1 {
	animation: appear 1s ease-in;
}

.appear-2 {
	animation: appear 2s ease-in-out;
}

.btn {
	padding: 11px;
	border-radius: 5px;
}

.text-xsm {
	font-size: 11px;
}

.modal {
	background-color: rgba(255, 255, 255, 0.123);
	backdrop-filter: blur(3px);
}

/* Chrome, Edge, Safari */
.scroll-none::-webkit-scrollbar {
	display: none;
}

/* Firefox */
.scroll-none {
	scrollbar-width: none;
}

/* Internet Explorer */
.scroll-none {
	-ms-overflow-style: none;
}

.dark {
	pointer-events: none;
	user-select: none;
	touch-action: none;

	z-index: 2000;
	backdrop-filter: brightness(0.75) invert(1) contrast(1.9) hue-rotate(80deg);
}

footer {
	bottom: 100%;
	translate: 0% 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	footer {
		height: auto;
		top: none;
		bottom: 0;
		width: 100%;
		translate: 0 0;
	}
}
